.a.logo {
	position:absolute;
	left:0;
	top:68px;
	background: url(logo.jpg) center no-repeat;
	height:133px;
	width:100%;
	display:block;
}
h2{
	float:left;
	margin:5px 0 5px 20px!important;
	margin:5px 0 5px 15px;
	padding:0 10px 5px 7px;
	width:500px;
	font-weight:normal;
	font-size:18px;
	color:#666;
	background: url(shad_bg.jpg) left bottom no-repeat;
}
h3{
	float:left;
	width:500px;
	font-weight:normal;
	font-size:16px;
	color:#666;
	margin:5px 0 5px 20px!important;
	margin:5px 0 5px 15px;
	padding:0 10px 5px 7px;
	background: url(shad_bg.jpg) left bottom no-repeat;
}
.demo a{ float:left; margin:0; padding:0; margin:5px 10px 5px 20px!important; margin:5px 10px 5px 10px; display:block; background:url(bg_tms.jpg) no-repeat; width:90px; height:90px;}
.demo a img{ float:left; margin:0; padding:0; margin:9px 0 0 10px; background:url(bg_tms.jpg) no-repeat; width:70px; height:70px;}
.main_content_demo{
	margin:0 auto;
	padding:0;
	width:500px;
	display:block;
	xborder:1px solid #909;
}
